html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* Переключатель */
.tabs_box {
    width: 550px;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -175px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.tab {
    padding: 0 10px;
}
 
.tabs_menu {
    display: table-row;
}
 
.tabs_menu li {
    display: table-cell;
    width: auto;
}
.a_link{
	height:50px;
	width:100px;
	background-color:gold;
}
a:active{
	background-color:gold;
}
.tabs_menu li a {
    display: table-cell;
    width: 2000px;
    text-align: center;
    text-decoration: none;
    background: #f8f8f8;
    color: #292929;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px 0;
}
 
.tabs_menu li:first-child a {
    border-left: 0;
}
 
.tabs_menu .active {
    background: #5f84c1;
    color: #fff;
}
/* Кінець переключателя*/